
<app-header></app-header>
<!-- Seccion principal  -->
<section class="banner">
    <div class="texto">
        <h3>Take a rest</h3>
        <p>Discover all the offers available at the best prices for the whole country an the word</p>
    </div>
    <button>Buy</button>
</section>

<!-- offers -->
<div class="offers">
    <h2>Offers</h2>
    <div class="card">
    <div class="card-offer offer-chicago1">
        <!-- <img src="../../../assets/img/chicago2.png" alt=""> -->
        <div class="txt-offer">
            <h3>Chicago</h3>
            <span>From $600.<span>00</span></span>
        </div>
    </div>
    <div class="card-offer offer-porto">
        <div class="txt-offer">
            <h3>Porto</h3>
            <span>From $600.<span>00</span></span>
        </div>
    </div>
    <div class="card-offer offer-chicago2">
        <div class="txt-offer">
            <h3>Chicago</h3>
            <span>From $600.<span>00</span></span>
        </div>
    </div>
</div>
</div>

<!-- card destinations -->
<div class="destination">
    <div class="card-destination">
<!--         <div class="img-card">
            <img src="../../../assets/img/alexandr-podvalny-G5tfP-gBM84-unsplash 1.jpg" alt="">
        </div> -->
        <div class="card-body">
            <h3 class="titulo">Our destinations</h3>
            <h3 class="subtitulo">Dicover the world</h3>
            <p class="txt-body">Enbark on an unforgettable adventire! <br>
            Discover and enjoy our fascinating destinations. We are Waiting for you to explore the world together! </p>
        </div>
    </div>
</div>
<app-footer></app-footer>
