
<app-header></app-header>
<!-- Seccion principal  -->
<section class="banner">
    <div class="texto">
        <h3>Take a rest</h3>
        <p>Discover all the offers available at the best price for the whole country an the word</p>
    </div>
    <button>buy</button>
</section>

<!-- offers -->
<div class="offers">
    <div class="card-offer offer-chicago1">
        <div class="txt-offer">
            <h3>Chicago</h3>
            <h3>From $600.<span>00</span></h3>
        </div>
    </div>
    <div class="card-offer offer-porto">
        <div class="txt-offer">
            <h3>Porto</h3>
            <h3>From $600.<span>00</span></h3>
        </div>
    </div>
    <div class="card-offer offer-chicago2">
        <div class="txt-offer">
            <h3>Chicago</h3>
            <h3>From $600.<span>00</span></h3>
        </div>
    </div>
</div>

<!-- card destinations -->
<div class="destination">
    <div class="card-destination">
        <div class="img-card">

        </div>
        <div class="card-body">
            <h3 class="titulo">Our destinations</h3>
            <h3 class="subtitulo">Dicover the world</h3>
            <p class="txt-body">Enbark on an unforgettable adventire! <br>
            Discover and enjoy our fascinating destinations. We are Waiting for you to explore the world together! </p>
        </div>
    </div>
</div>
<app-footer></app-footer>
