/* importacion de la variable globales */
@use '../../../styles.scss' as v;

/* Primera seccion del body */
.banner {
    width: 100%;
    padding: 100px 13px;
    background-image: url('../../../assets/img/john-mcarthur-8KLLgqHMAv4-unsplash\ 2.png');
    background-repeat: no-repeat;
    background-size: 250%;
    object-fit: none;

    .texto {
        h3 {
            font-size: 32px;
            font-weight: 700;
            color: #FFFFFF
        }

        p {
            font-size: 14px;
            font-weight: 400;
            color: #FFFFFF
        }
    }

    button {
        font-size: 18px;
        font-weight: 700;
        color: #FFFFFF;
        width: 152px;
        height: 38px;
        border-radius: 100px;
        background-color: v.$tertiary;
        border: v.$tertiary;

    }

    /* Media query para Desktop */
    @media (min-width: v.$breackpoint-desktop)  {

        padding-left: 145px;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: none;

        .texto {
            h3 {
                font-size: 58px;
                font-weight: 700;
                line-height: 67.97px;
            }

            p {
                font-size: 20px;
                line-height: 23.44px;
            }
        }

    }
}
/* Segunda seccion del body */
.offers {
    padding: 14px;

    h2 {
        font-size: 28px;
        font-weight: 700;
        color: v.$primary;
    }

    .card-offer {
        width: 386px;
        height: 258px;
        top: 587px;
        left: 14px;
        margin-bottom: 16px;
        gap: 0px;
        border: 1px solid white;
        border-radius: 16px;
        opacity: 0px;
        text-align: left;


        .items {
            position: relative;

            img {
                position: absolute;
                margin-top: 10px;
                border-radius: 0 0 16px 16px;
                z-index: 1;
            }

            .txt-offer {
                position: absolute;
                text-align: right;
                padding: 20px 30px;
                margin-top: 90px;
                color: #FFFFFF;
                margin-left: 45%;
                z-index: 3;

                h3 {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 32.81px;
                }

                span {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 25.78px;
                    text-align: left;

                    span {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 18.75px;

                    }
                }
            }

        }


        .offer-chicago1 {
            background-image: url('../../../assets/img/chicago2.png'), url('../../../assets/img/Intersect.svg');
            background-repeat: no-repeat;
            background-size: auto;
        }

    }

    .offer-porto {
        background-image: url("../../../assets/img/porto1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: none;

    }

    .offer-chicago1 {
        background-image: url("../../../assets/img/chicago2.png");
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: none;

    }

    .offer-chicago2 {
        background-image: url("../../../assets/img/mire1.png");
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: none;

    }
    /* Media query para Desktop */
    @media (min-width: v.$breackpoint-desktop)  {
        margin: 0 125px;

        .card {
            display: flex;
            gap: 20px;
        }


        .offer-chicago1,
        .offer-chicago2 {
            width: 296px;
            height: 258px;

            .items {
                img {
                    margin-top: 70px;
                    width: 288px;
                }

                .txt-offer {
                    padding: 25px;
                    margin-left: 30%;
                }
            }
        }

        .offer-porto {
            width: 614px;
            height: 258px;
            background-image: url("../../../assets/img/porto1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: none;

            .items {
                img {
                    margin-top: 10px;
                    margin-left: 35%;
                    width: auto;
                    height: auto;
                }

                .txt-offer {
                    padding: 25px;
                    margin-left: 66%;
                }
            }

        }

        .offer-chicago1 {
            background-image: url("../../../assets/img/chicago2.png");
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: none;

        }

        .offer-chicago2 {
            background-image: url("../../../assets/img/mire1.png");
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: none;
        }

        .items {

            img {
                position: absolute;
                margin-top: 10px;
                width: auto;
                border-radius: 0 0 16px 16px;
                z-index: 1;
            }

        }
    }
}
/* Tercera seccion del body */
.destination {
    padding: 14px;

    .card-destination {
        display: flex;
        flex-wrap: wrap;
        width: 386px;
        height: 722px;
        top: 1437px;
        left: 14px;
        border-radius: 16px;
        opacity: 0px;
        background: linear-gradient(180deg, #181823 39.26%, #537FE7 100%);


        .img-card {
            width: 100%;
            height: 50%;
            background-image: url("../../../assets/img/alexandr-podvalny-G5tfP-gBM84-unsplash 1.jpg");
            background-size: cover;
            background-position: center;
            background-position-x: center;
            object-fit: cover;
            object-position: center;
            border-radius: 0 0 45% 45%;
            z-index: 3;
        }

        .card-body {
            padding: 16px;
            margin-bottom: 10px;
            margin-top: 10px;
            line-height: 39.84px;

            .titulo {
                font-size: 34px;
                font-weight: 700;
                text-align: left;
                color: #FFFFFF;

            }

            .subtitulo {
                font-size: 34px;
                font-weight: 400;
                text-align: left;
                color: v.$color5-claro;

            }

            .txt-body {
                font-size: 18px;
                font-weight: 400;
                line-height: 21.09px;
                text-align: left;
                color: #FFFFFF;
            }
        }
    }
    /* Media query para Desktop */
    @media (min-width: v.$breackpoint-desktop) {
        margin: 0 125px;
        .card-destination {
            width: 100%;
            height: 386px;
            top: 1297px;
            left: 1.42px;
            background: linear-gradient(80.01deg, #1D1823 32.05%, #537FE7 99.99%);
            display: flex;
            flex-direction: column;
            text-wrap: wrap;

            .img-card {
                width: 50%;
                height: 100%;
                background-image: url("../../../assets/img/alexandr-podvalny-G5tfP-gBM84-unsplash 1.jpg");
                background-size: cover;
                background-position: center;
                border-radius: 0 45% 45% 0;
                object-fit: none;
                background-position-x: center;
                
            }

            .card-body {
                margin-top: 2%;
                width:450px ;
                
                .titulo {
                    font-size: 34px;
                    font-weight: 700;

                }

                .subtitulo {
                    font-size: 34px;
                    font-weight: 400;
                }

                .txt-body {
                    
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 21.09px;
                }

            }


        }

    }
}