<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <!-- imagen -->
            <img src="../../../../assets/img/logo1.svg" alt="">
        </div>
        <div class="footer-destination">
            <h4>Destinations</h4>
            <ul class="footer-destination-items">
                <li>Madrid</li>
                <li>Barcelona</li>
                <li>London</li>
                <li>Paris</li>
                <li>Rome</li>
            </ul>

        </div>
        <div class="footer-information">
            <h4>Legal information</h4>
            <ul class="footer-information-items">
                <li>Privacy policy</li>
                <li>Cookie policies</li>
                <li>data treatment</li>
            </ul>
        </div>
        <div class="footer-book">
            <h4>Book your flight</h4>
            <ul class="footer-book-items">
                <li>Search flights</li>
                <li>Price calendar</li>
                <li>Destination map</li>
                <li>Flight times</li>
            </ul>
        </div>

    </div>
    <div class="footer-follow">
        <h4>Follow us</h4>
        <div class="footer-follow-icons">
            <a href="" class="icon">
                <img src="../../../../assets/icons/194909_social media_twitter_icon 1.svg" alt="">
            </a>
            <a href="" class="icon">
                <img src="../../../../assets/icons/194929_facebook_social media_icon 1.svg" alt="">
            </a>
            <a href="" class="icon">
                <img src="../../../../assets/icons/194904_social media_youtube_icon 1.svg" alt="">
            </a>
        </div>

    </div>
    <div class="footer-end">
        <span>Website terms of use |
            Site map |
            enviroment |
            contact@airlines.com</span>
    </div>
</footer>