@use '../../../../styles.scss' as v;
@import '../../../../media-queries';

.navbar {
    width: 100%;
    height: 50px;
    padding: 12px;
    display: flex;
    justify-content: space-around;

    button {
        border: none;
        background-color: #ffffff;
        align-items: center;

        img {
            width: 18px;
            height: 33px;
            top: 30px;
            margin-right: 2px;
        }

        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.41px;
            text-align: left;
        }
    }

    .close {
        display: none;
    }

    .navbar-collapse {
        display: none;
    }
}

.sidebar {
    display: none;
    text-align: left;

    &.is-open {
        display: block;
        position: absolute;
        top: 65px;
        background-color: #ffffff;
        padding: 56px 14px;
        width: 100%;
        height: 100vh;
    }

    .menu {
        .menu-item {
            font-family: Roboto;
            font-size: 20px;
            font-weight: 400;
            line-height: 23.44px;

            button {
                border: none;
                background-color: #ffffff;
                font-size: 20px;
            }
        }

        hr {
            border: 1px solid #B2B2C1;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .submenu {
        display: none;

        &.is-open {
            display: block;
            position: absolute;
            top: 35px;
            background-color: #ffffff;
            padding:14px;
            width: 100%;
            height: 100vh;
        }

        h2 {
            font-size: 20px;
            font-weight: 700;
            line-height: 23.44px;
        }

        .submenu-item {
            padding-left: 42px;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;

        }
    }
}