<nav class="navbar">
    <button class="btn-toggle" type="button" (click)="toggleMenu()">
        <img src="../../../../assets/icons/Vector (1).svg" alt="">
    </button>

    <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/logo1.svg" alt="">
    </a>

    <!-- <div class="navbar-collapse" [class.is-open]="isMenuOpen">
        <ul class="nav-items">
            <li class="nav-item">Check-in</li>
            <li class="nav-item">Manage my booking</li>
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle">Information</a>
                 <div class="dropdown-menu">
                    <a href="" class="dropdown-item">Help center</a>
                    <a href="" class="dropdown-item">Flight state</a>
                    <a href="" class="dropdown-item">Airplanes</a>
                    <a href="" class="dropdown-item">Routes</a>
                </div>

            </li>
        </ul>
    </div> -->
    <button class="btn-lang" type="button">
        <img src="../../../../assets/icons/Vector.svg" alt="">
    </button>


</nav>