/*
* creacion de variables globales para los estilos
 */
$font: "Roboto", sans-serif;
$primary:#181823;
$secondary:#537FE7;
$tertiary:#C20114;
$color5:#9292A0;
$color5-claro:#C0EEF2;
$color7:#E9F8F9;
$color-gray8:#E7E6F6;
$color-gray9:#F1F0FF;

/* Variables globales para los break point del responsive */
$breackpoint-desktop: 1024px;
$breackpoint-mintablet: 768px;
$breackpoint-maxtablet: 1023px;

/* Importacion de la fuente alojada en el pryecto */
@font-face {
    font-family: $font;
    src: url('./assets/fonts/Roboto-BlackItalic.ttf');
  }

  /* Uso de la fuente para todo el proyecto */
html{
    font-family: $font;
}
body{
  margin: 0px;

}

ul {
  list-style: none;
  padding:10px 20px;
  margin: 0px;
}

a{
  text-decoration: none;
}