/* You can add global styles to this file, and also import other style files */
$font: "Roboto", sans-serif;

@font-face {
    font-family: $font;
    src: url('./assets/fonts/Roboto-BlackItalic.ttf');
  }

*{
    font-family: $font;
}